     <div class="row">

        <div class="col-md-4">
          <div style="float:center;">
            <div style="text-align:center;">
              {{leftWageGap}}
            </div>
            <div> 
              <img id="leftSilhouette" ng-src="{{leftSilhouette}}" alt="Description" />
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div style="float:center;">
            <div style="text-align:center;">
              <p>SHE WOULD HAVE TO WORK</p>
              <P>3h 10m 4s</P>
              <p>LONGER TO PURCHASE THIS</p>
            </div>
            <div> 

            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div style="float:center;">
            <div style="text-align:center;">
              {{rightWageGap}}
            </div>
            <div> 
              <img id="rightSilhouette" ng-src="{{rightSilhouette}}" alt="Description" />
            </div>
          </div>
        </div>



      </div>